.user-container{
    height: 200px;
    width: 200px;
    background-color: brown;
    margin : 10px;
    padding: 10px;
    color: black;
    font-size: 1rem;
    
}
#user-image{
    height: 50%;
    width: 50%;
}
